{
    margin:0;
    padding:0;
}
.cabeçalho {
    background-color: rgb(80, 80, 195);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:  24px  0;
}
.cabeçalho-imagem{
    width: 30%;
}
.cabeçalho-lista-item{
    display: inline-block;
    padding: 24px;
    image: 24px;
}
.escola{
    background-image:linear-gradient(#8064b9,#1071e9);
    color: white;
    font-size; 24px;
    padding: 100px 50px;
.escola-titulo{
padding: 24px  10px;
} 



